@import '../../styles/contants.scss';

.wrapper{
    background: white;
    overflow: hidden;
    .container{
        flex-direction: column;
        gap: 2rem;
        .heading{
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap; 
            >:nth-child(2)
            {
                text-decoration: underline;
                color: orange;
                cursor: pointer;
            }
        }    
        
        .showCase{
           
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;
            >img{

                @media (max-width: $sm) {
                    width: 100%;
                }
                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
                cursor: pointer;
            }
        }
    }
}
.deploybtn {
    width: 80px;
    height: 30px;
    font-size: 0.6em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    margin-left: 0.5rem;
  vertical-align:super;
   }
   
   .deploybtn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .deploybtn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }